h1 {
  font-family: helvetica;
  color: white;
}

p {
  font-family: helvetica;
  color: white;
}

h3 {
  font-family: helvetica;
  color: white;
}

.section {
  width: 70%;
  margin: 15px;
}

.article {
  width: 70%;
  margin: 15px;
}


.header {

}

body {
  background-color: #293952;
}
